.hero{
  height: 400px;
  margin: auto;
  width: 75%;
  padding-top: 20px;
  margin-bottom: 20px;
  background-image: url(https://wallpaperaccess.com/full/40686.jpg);
  border-style: solid;
  border: 5px;
  border-color: aliceblue;
  background-position: top left;
  animation: moveit 10s infinite;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 5px black);
}
.hero2{
  height: 400px;
  margin: auto;
  width: 75%;
  padding-top: 20px;
  margin-bottom: 20px;
  background-image: url(https://wallpaperaccess.com/full/40677.jpg);
  border-style: solid;
  border: 5px;
  border-color: aliceblue;
  background-position: top left;
  animation: moveit 10s infinite;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 5px black);
}
.hero3{
  height: 400px;
  margin: auto;
  width: 75%;
  padding-top: 20px;
  margin-bottom: 20px;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/968/890/504/pokemon-poke-balls-wet-wallpaper-preview.jpg);
  border-style: solid;
  border: 5px;
  border-color: aliceblue;
  background-position: top right;
  animation: moveit 10s infinite;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 5px black);
}

@keyframes moveit {
    90% {background-position: center;}
}

.hero-text{
    color: aliceblue;
    padding-top: 150px;
    filter: drop-shadow(0 0 5px black);
}

