.App {
  padding: 0;
  font-family: cursive;
  text-align: center;
  background: url("https://images.hdqwalls.com/wallpapers/anime-pokemon-wallpaper.jpg") no-repeat center fixed;
  background-size: cover;

}

